<div class="content">

  <h1>Listing phlogs</h1>

  <p>The phlogs that were</p>

  <ul id="phlog-list">
    <% @phlogs.each do |phlog| %>
      <li>
        <%= link_to image_tag("http://moxie.danchilton.com/pix/phlog/thumbs/#{phlog.thumbnail}"), phlog, :class => "image-link" %>
        <%= link_to phlog, :class => "meta-link" do %>
          <strong><%= phlog.title %></strong>
          <em><%= phlog.created_at.strftime("%b %-d, %Y @ %l:%M %P") %>, <%= pluralize(phlog.phlog_comments.size,"comment") %></em>
        <% end %>
      </li>
    <% end %>
  </ul>

</div>