<h1>Listing phlogs</h1>

<table>
  <tr>
    <th>O</th>
    <th>Title</th>
    <th>Body</th>
    <th>Thumbnail</th>
    <th>Photographer</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phlogs.each do |phlog| %>
  <tr>
    <td><%= phlog.o_id %></td>
    <td><%= phlog.title %></td>
    <td><%= phlog.body %></td>
    <td><%= phlog.thumbnail %></td>
    <td><%= phlog.photographer %></td>
    <td><%= phlog.author %></td>
    <td><%= link_to 'Show', phlog %></td>
    <td><%= link_to 'Edit', edit_phlog_path(phlog) %></td>
    <td><%= link_to 'Destroy', phlog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phlog', new_phlog_path %>
