<h1><%= @phlog.title %></h1>

<div><%= simple_format(@phlog.body.strip) %></div>

<p>By <%= link_to @phlog.author.name, @phlog.author %></p>

<hr/>

<% if @phlog.phlog_comments.size > 0 %>
  <h3><%= pluralize(@phlog.phlog_comments.size,"Comment") %></h3>
  <ol>
  <% @phlog.phlog_comments.each do |comment| %>
    <li>
      <blockquote><%= comment.body %></blockquote>
      <p><%= comment.author %>, <%= comment.created_at.strftime("%A, %B %e, %Y at %l:%M %p") %></p>
    </li>
  <% end %>
  </ol>
<% else %>
  <h3>No Comments</h3>
<% end %>

<div>
  <%= link_to 'Edit', edit_phlog_path(@phlog) %> |
  <%= link_to 'Back', phlogs_path %>
</div>
