<div class="content">
  <h1><%= @author.name %>'s Posts</h1>
</div>

<% @years.each do |year| %>
  <% (1..12).each do |month| %>
    <% month_posts = @posts.posts_by_month(year,month) %>
    <% if month_posts.size > 0 %>
      <div class="content-sidebar post-index">
        <div class="sidebar">
          <strong><%= Date.new(year.to_i,month).strftime("%B %Y") %></strong>
          <em><%= pluralize(month_posts.size,"post") %></em>
          <em><%= pluralize(month_posts.collect{|x|x.comments.size}.sum,"comment") %></em>
        </div>
        <div class="content">
          <ul>
            <% month_posts.each do |post| %>
              <li>
                <%= content_tag :span, post.created_at.strftime('%d') %>
                <%= link_to raw(post.title), make_post_link(post) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>