<%= form_for(@phlog_comment) do |f| %>
  <% if @phlog_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phlog_comment.errors.count, "error") %> prohibited this phlog_comment from being saved:</h2>

      <ul>
      <% @phlog_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :phlog %><br />
    <%= f.text_field :phlog %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
