<h1>Listing phlog_comments</h1>

<table>
  <tr>
    <th>Author</th>
    <th>Body</th>
    <th>Phlog</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phlog_comments.each do |phlog_comment| %>
  <tr>
    <td><%= phlog_comment.author %></td>
    <td><%= phlog_comment.body %></td>
    <td><%= phlog_comment.phlog %></td>
    <td><%= link_to 'Show', phlog_comment %></td>
    <td><%= link_to 'Edit', edit_phlog_comment_path(phlog_comment) %></td>
    <td><%= link_to 'Destroy', phlog_comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phlog comment', new_phlog_comment_path %>
