<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @phlog_comment.author %>
</p>

<p>
  <b>Body:</b>
  <%= @phlog_comment.body %>
</p>

<p>
  <b>Phlog:</b>
  <%= @phlog_comment.phlog %>
</p>


<%= link_to 'Edit', edit_phlog_comment_path(@phlog_comment) %> |
<%= link_to 'Back', phlog_comments_path %>
