<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<p>By <%= link_to @post.author.name, @post.author %></p>
<p>Categories: <%= @post.categories.collect { |x| link_to x.name, x }.join(", ") %></p>

<hr/>

<% if @post.comments.size > 0 %>
  <h3><%= pluralize(@post.comments.size,"Comment") %></h3>
  <ol>
  <% @post.comments.each do |comment| %>
    <li>
      <blockquote><%= comment.body %></blockquote>
      <p><%= comment.author %>, <%= comment.created_at.strftime("%A, %B %e, %Y at %l:%M %p") %></p>
    </li>
  <% end %>
  </ol>
<% else %>
  <h3>No Comments</h3>
<% end %>
